<!-- Name, duration, importance, category-->
<html>
  <head>
    <title>Flask Intro - login page</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="static/bootstrap.min.css" rel="stylesheet" media="screen">
  </head>
  <body>
    <div class="container">
      <h1>Please Enter Event Data</h1>
      <br>
      <form action="" method="post">
        <input type="text" placeholder="Event Name" name="eventName" value="{{
          request.form.eventName }}">
        <br>
        <input type="text" placeholder="Duration of Event" name="duration" value="{{
          request.form.duration }}">
        <br>
        <input type="text" placeholder="priority" name="priority" value="{{
          request.form.priority}}"
        <input class="btn btn-default" type="submit" value="Login">
      </form>
      {% if error %}
        <p class="error"><strong>Error:</strong> {{ error }}
      {% endif %}
    </div>
  </body>
</html>
