<!-- Name, duration, importance, category-->
<html>
  <head>
    <title>Smart Calendar</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <link href="static/bootstrap.min.css" rel="stylesheet" media="screen"> -->
  </head>
  <body>
    <div class="container">
      <h1>Enter a New Event</h1>
      <form action="" method="post">
        <h4>Enter a New Event
        <input type="checkbox" placeholder="New Event" name="event" value="{{
          request.form.save}}">
        <br>
        <h4>Save Today's Schedule<h4>
        <input type="checkbox" placeholder="Save Tasks" name="save" value="{{
          request.form.save}}">
        <br>
        <input class="btn btn-default" type="submit" value="submit">
      </form>
    </div>
  </body>
</html>
