<!-- Name, duration, importance, category-->
<html>
  <head>
    <title>Smart Calendar</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/assets/css/main.css" />
  </head>
  <body>
    <div class="container">
      <h1>Enter a New Event</h1>
			<ul class="menu">
				<li><a href="{{ url_for('saveToCal') }}">Save Stuff</a></li>
				<li><a href="{{ url_for('event') }}">Create Event</a></li>
        <li><a href="{{ url_for('toDo') }}"> Add To Do</a></li>
        <li><a href="{{ url_for('viewToDo') }}"> View To Dos</a></li>
        <li><a href="{{ url_for('viewCal') }}"> View Temporary Calendar</a></li>
		</ul>
    </div>
  </body>
</html>
