
<html>
  <head>
    <title>Smart Calendar</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/assets/css/main.css" />
  </head>
  <body>
    <div class="container">
      <h1> Please delete unwanted scheduling </h1>
      <iframe src="https://calendar.google.com/calendar/embed?src={{url}}" style="border: 0" width="800" height="600" frameborder="0" scrolling="no"></iframe>
      <br>
      <form>
      <input type="Submit" value="Submit" name="Submit">
    </form>

    </div>
  </body>
</html>
